.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App {
  height: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*
.logo {
  height: 50px;
  position: absolute;
  bottom: 10px;
  width: 60px;
}*/

.logo_window{
  position:absolute;
  bottom: 10%;
}

.logo img {
  width: 60px;
  height: auto;
  cursor: pointer;
}

.resultWindow {
  position: absolute;
  bottom: 10%;
  left: 1%;
  background-color: #599bff;
  width: 80%;
  height: 30%;
  border-radius: 5px;
  padding: 1rem;
  color: #f2f5f3;
}

.imgWindow {
  width: 70px;
  height: 70px;
  border-radius: 5px;
  padding: 10px;
}
.loading{
  display:block;
  position:absolute;
  bottom:100%;
  background-color:lightgrey;
  padding:1rem;
  width:16rem;
  border-radius:5px;
  left:1%;
  height: 5rem;
}

.none{
  display: none;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
