.listOfProducts {
  position: fixed;
  background-color: #e7f9ff;
  top: 24%;
  left: 1%;
  width: 99%;
  border-radius: 5px;
  height: 68%;
  overflow-y: scroll;
}

.productContainer {
  margin-top: 4rem;
  padding: 1rem;
  font-size: 0.85rem;
}

.listContainer {
  background: lightgrey;
  width: 100%;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  position: fixed;
}

.listOfProductBtn {
  padding-left: 0;
  list-style-type: none;
  margin-top: 1rem;
}

.listOfProductBtn li {
  display: inline-block;
  padding-left: 1rem;
  font-size: 1.3rem;
  cursor: pointer;
  font-weight: 400;
  color: #fefffe;
}

.listOfProductBtn li:hover {
  text-decoration: underline;
}

.productLinks:hover{
text-decoration: underline;
cursor:pointer;
}

.productNoLinks:hover{
  cursor: auto ;
  text-decoration: none;
}
